/* My fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Solitreo&display=swap');

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base */

body {
  color: white;
  background-color: rgb(15, 15, 44);
  font-size: 1.1rem;
}

.projects a{
  color: white;
}

a {
  text-decoration: underline;
}

a:hover {
  color: gray;
}

.presentation h2{
  margin-bottom: 10px;
}

.presentation p{
  text-align: justify;
}

.container {
  margin: 25px auto;
  max-width: 1127px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/* Modules */

.selfie {
  border-radius: 50%;
  box-shadow: 5px 3px rgb(17, 17, 75);
  margin-bottom: 10px;
}

.name {
  font-family: 'Solitreo', cursive;
  font-size: 1.3rem;
}

.hobbies {
  margin-top: 10px;
  color: rgb(168, 168, 168);
}

.university, .hobbies, .occupation, .projects {
  font-family: 'Roboto Condensed', sans-serif;
}

.projects h1{
  margin-bottom: 15px;
}

.project {
  /* max-width: 250px; */
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
}

.project-title {
  font-size: 1.5rem;
}

.project p{
  text-align: center;
  margin: 5px 0;
}

.contact-item {
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(15, 15, 44);
  color: white;
  border-radius: 10px;
  box-shadow: 3px 3px rgb(5, 163, 255);
}

.contact-item a{
  color: white;
}

.contact-item a:hover{
  color: gray;
}

/* Layout */

.aboutme, .projects {
  text-align: center;
  margin: 0 20px;
}

.presentation, .contact {
  margin: 20px 30px 20px 30px ;
  padding: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  color: rgb(15, 15, 44);
}

@media screen and (min-width: 835px) {

  .up-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .projects {
    margin-bottom: 50px;
  }

  .aboutme {
    width: 50%;
  }

  .selfie {
    width: 300px;
    height: 300px;
  }

  .presentation {
    width: 50%;
    height: 100%;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-item {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(15, 15, 44);
    color: white;
  }

  .contact-item a{
    color: white;
  }

  .contact-item a:hover{
    color: gray;
  }

  .contacts {
    display: flex;
    justify-content: space-around;
  }

}